<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title> {% if page.title %} {{ page.title }} | {% endif %} Biology Assignment #1 </title>
    <link rel="stylesheet" href="http://mause.me/bio/stylesheets/styles.css">
    <link rel="stylesheet" href="http://mause.me/bio/stylesheets/pygment_trac.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="http://mause.me/bio/javascripts/respond.js"></script>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if lt IE 8]>
    <link rel="stylesheet" href="stylesheets/ie.css">
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

  </head>
  <body>
      <!-- <div id="header">
        <nav>
          <li class="fork"><a href="https://github.com/Mause/bio">View On GitHub</a></li>
          <li class="downloads"><a href="https://github.com/Mause/bio/zipball/master">ZIP</a></li>
          <!-- <li class="downloads"><a href="https://github.com/Mause/bio/tarball/master">TAR</a></li> -->
          <!-- <li class="title">DOWNLOADS</li>
        </nav>
      </div> --><!-- end header -->

    <div class="wrapper">

      <section>
        <div id="title">
          <h1>Biology Assignment #1</h1>

          {{ content }}

        </div>
      </section>

    </div>
    <!--[if !IE]><script>fixScale(document);</script><!--<![endif]-->
    
  </body>
</html>